.NoAuth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  flex-direction: column;
  line-height: 1.3;
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 25px;
  }
}
