.Signup {
  height: 400px;
  display: flex;
  justify-content: center;
  margin-top: 100px;

  .SignupForm {
    padding: 80px 40px;
    border-radius: 10px;
    border: 1px solid gray;
    position: relative;
    .row {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      label {
      }
      input {
        width: 600px;
      }
      &.id::before,
      &.pw::before {
        content: "*";
        color: red;
        position: absolute;
      }
    }
    .btn-submit {
      position: absolute;
      right: 20px;
      bottom: 20px;
    }
  }
}
